.main-korekcija {
    background-image: url(../img/korekcija.jpeg);
    background-size: cover;
    height: 100vh;
}

.main-korekcija h1 {
    text-align: center;
    padding-top: 13%;
    color: #070909;
}

.korektivne {
    padding: 60px;
}

.korektivne p {
    font-size: 20px;
}

@media (max-width:1200px) {
    .main-korekcija {
        background-image: url(../img/korekcija.jpg);
        background-size: cover;
        height: 100vh;
    }
    .korektivne h1 {
        border-left: 4px solid var(--main-brown);
        padding-left: 2px;
    }
    .main-korekcija h1 {
        padding-top: 22%;
    }
    .korektivne {
        padding: 20px;
    }
}