.main-oblikovanje {
    background-image: url(../img/oblikovanje1.jpg);
    background-size: cover;
    height: 100vh;
}

.main-oblikovanje h1 {
    text-align: center;
    padding-top: 5%;
    color: #070909;
}

.oblikovanje p {
    font-size: 24px;
}

.oblikovanje {
    padding: 60px;
}

@media (max-width:1200px) {
    .treneri h1 {
        border-left: 4px solid var(--main-brown);
        padding-left: 2px;
    }
    .main-personalni h1 {
        padding-top: 80%;
    }
    .main-oblikovanje {
        background-image: url(../img/oblikovanje.jpg);
        background-size: cover;
        height: 100vh;
    }
    .main-oblikovanje h1 {
        text-align: center;
        padding-top: 60%;
        color: blanchedalmond;
    }
    .oblikovanje p {
        font-size: 16px;
    }
    .oblikovanje h1 {
        border-left: 3px solid var(--main-brown);
        padding: 5px;
    }
}